<nav>
    <!-- Навигационное меню -->
    <a href="{% url 'tasks:index' %}">Приложение tasks</p>
    <a href="{% url 'quality_control:index' %}">Приложение quality_control</a>
    <!-- Другие ссылки -->
</nav>