{% extends 'base/base.html' %}

{% block content %}
<h2>Заявить о новом баге</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>
{% endblock %}