{% extends 'base/base.html' %}

{% block content %}
    <h1>Список багов</h1>
            <!-- Ссылка на создание нового проекта -->
    <p><a href="{% url 'quality_control:create_bugreport' %}">Заявить о баге</a></p>
    <ul>
        {% for bugreport in bug_list %}
            <li><a href="{% url 'quality_control:bugreport_detail' bugreport.id %}">{{ bugreport.title }}</a></li>
            
        {% endfor %}
    </ul>
{% endblock %}