{% extends 'base/base.html' %}

{% block content %}
    <h1>Удаление бага</h1>
    <p>Вы уверены, что хотите удалить баг "{{ bugreport.name }}"?</p>

    <form action="{% url 'quality_control:delete_bugreport' bugreport.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Удалить">
        <a href="{% url 'quality_control:bugreport_detail' bugreport.id %}">Отмена</a>
    </form>
{% endblock %}