{% extends 'base/base.html' %}


{% block content %}
    <h1>{{ bugreport_detail.title }}</h1>
    <p>{{ bugreport_detail.description }}</p>
    <p>{{ bugreport_detail.status }}</p>
    <p>{{ bugreport_detail.priority }}</p>
    <a href="{% url 'quality_control:update_bugreport' bugreport_id=bugreport_detail.id %}">Изменить баг</a>
    <p><a href="{% url 'quality_control:delete_bugreport' bugreport_id=bugreport_detail.id %}" onclick="return confirm('Вы уверены, что хотите удалить эту задачу?');">Удалить баг</a></p>

{% endblock %}
