{% extends 'base/base.html' %}

{% block content %}
    <h1>Список идей</h1>
    <p><a href="{% url 'quality_control:create_featurerequest' %}">Предложить идею</a></p>
    <ul>
        {% for featurerequest in feature_list %}
            <li><a href="{% url 'quality_control:featurerequest_detail' featurerequest.id %}">{{ featurerequest.title }}</a></li>
            
        {% endfor %}
    </ul>
{% endblock %}