
{% extends 'base/base.html' %}


{% block content %}
    <h1>{{ featurerequest_detail.title }}</h1>
    <p>{{ featurerequest_detail.description }}</p>
    <p>{{ featurerequest_detail.status }}</p>
    <p>{{ featurerequest_detail.priority }}</p>
    <a href="{% url 'quality_control:update_featurerequest' featurerequest_id=featurerequest_detail.id %}">Изменить идею</a>
    <p><a href="{% url 'quality_control:delete_featurerequest' featurerequest_id=featurerequest_detail.id %}" onclick="return confirm('Вы уверены, что хотите удалить эту задачу?');">Удалить идею</a></p>

{% endblock %}
