{% extends 'base/base.html' %}

{% block content %}
    <h1>Удаление идеи</h1>
    <p>Вы уверены, что хотите удалить идею "{{ featurerequest.name }}"?</p>

    <form action="{% url 'quality_control:delete_featurerequest' featurerequest.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Удалить">
        <a href="{% url 'quality_control:featurerequest_detail' featurerequest.id %}">Отмена</a>
    </form>
{% endblock %}